.inputbox {
    display: inline-block;
    padding-top: 6px;
}

.bordered {
    border: 1px solid;
    border-radius: 1px;
}

.inputbox label {
    display: block;
    padding: 0 6px;
}

.inputbox input {
    border: 0px;
    outline: 0px;
}

.inputbox input {
    background-color: aliceblue;
}

.inputbox input:focus {
    background-color: transparent;
}